@if (viewMode) {
  @if (currentTutorial.id) {
    <h4>Tutorial</h4>
    <div class="wswds-tutorial">
      <div class="wswds-tutorial__item">
        <label><strong>Title:</strong></label> {{ currentTutorial.title }}
      </div>
      <div class="wswds-tutorial__item">
        <label><strong>Description:</strong></label> {{ currentTutorial.description }}
      </div>
      <div class="wswds-tutorial__item">
        <label><strong>Status:</strong></label> {{ currentTutorial.published ? "Published" : "Pending" }}
      </div>
      <a class="wswds-badge wswds-badge--warning" routerLink="/tutorials/{{ currentTutorial.id }}">
        Edit
      </a>
    </div>
  } @else {
    <p>Please click on a Tutorial...</p>
  }
} @else {
  @if (currentTutorial.id) {
    <div class="wswds-edit-form">
      <h4>Tutorial</h4>
      <form>
        <div class="wswds-form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="wswds-form-control"
            id="title"
            [(ngModel)]="currentTutorial.title"
            name="title"
          />
        </div>
        <div class="wswds-form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="wswds-form-control"
            id="description"
            [(ngModel)]="currentTutorial.description"
            name="description"
          />
        </div>
        <div class="wswds-form-group">
          <label><strong>Status:</strong></label> {{ currentTutorial.published ? "Published" : "Pending" }}
        </div>
      </form>
      @if (currentTutorial.published) {
        <button class="wswds-badge wswds-badge--primary" (click)="updatePublished(false)">
          UnPublish
        </button>
      } @else {
        <button class="wswds-badge wswds-badge--primary" (click)="updatePublished(true)">
          Publish
        </button>
      }
      <button class="wswds-badge wswds-badge--danger" (click)="deleteTutorial()">
        Delete
      </button>
      <button type="submit" class="wswds-badge wswds-badge--success" (click)="updateTutorial()">
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  } @else {
    <p>Cannot access this Tutorial...</p>
  }
}
