<div>
  <nav class="usa-nav">
    <div class="usa-navbar">
      <button class="usa-menu-btn" aria-label="Menu">Menu</button>
      <div class="usa-logo">
        <em class="usa-logo__text">
          <a href="#" title="Home" aria-label="Home">Demo</a>
        </em>
      </div>
    </div>
    <div class="usa-nav__inner">
      <button class="usa-nav__close" aria-label="Close">
        <img src="path/to/close-icon.svg" alt="Close">
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <a href="tutorials" class="usa-nav__link">Tutorials</a>
        </li>
        <li class="usa-nav__primary-item">
          <a href="add" class="usa-nav__link">Add</a>
        </li>
      </ul>
    </div>
  </nav>

  <main class="usa-section">
    <router-outlet></router-outlet>
  </main>
</div>


