<div class="grid-row">
  <div class="grid-col-8">
    <div class="usa-input-group margin-bottom-3">
      <input
        type="text"
        class="usa-input"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="usa-input-group__append">
        <button
          class="usa-button usa-button--outline"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="grid-col-6">
    <h4>Tutorials List</h4>
    <ul class="usa-list usa-list--unstyled">
      <li *ngFor="let tutorial of tutorials; let i = index" 
          class="usa-list__item"
          [class.usa-current]="i == currentIndex"
          (click)="setActiveTutorial(tutorial, i)">
        {{ tutorial.title }}
      </li>
    </ul>

    <button class="usa-button usa-button--secondary margin-top-3" (click)="removeAllTutorials()">
      Remove All
    </button>
  </div>
  <div class="grid-col-6">
    <app-tutorial-details
      [viewMode]="true"
      [currentTutorial]="currentTutorial"
    ></app-tutorial-details>
  </div>
</div>
