<div>
  <div class="usa-form">
    @if (!submitted) {
    <div class="usa-form-group">
      <label class="usa-label" for="title">Title</label>
      <input
        type="text"
        class="usa-input"
        id="title"
        required
        [(ngModel)]="tutorial.title"
        name="title"
      />
    </div>

    <div class="usa-form-group">
      <label class="usa-label" for="description">Description</label>
      <input
        class="usa-input"
        id="description"
        required
        [(ngModel)]="tutorial.description"
        name="description"
      />
    </div>

    <button (click)="saveTutorial()" class="usa-button usa-button--primary">Submit</button>
    } @else {
    <h4>Tutorial was submitted successfully!</h4>
    <button class="usa-button usa-button--primary" (click)="newTutorial()">Add</button>
    }
  </div>
</div>
